DB_HOST=localhost
DB_PORT=5432
DB_NAME=accenture_db
DB_USER=postgres
DB_PASSWORD=postgres
JDBC_URL=jdbc:postgresql://localhost:5432/accenture_db
R2DBC_URL=r2dbc:postgresql://localhost:5432/accenture_db

# Variables opcionales para Terraform/AWS CLI local
AWS_REGION=us-east-2
AWS_PROFILE=default
AWS_SDK_LOAD_CONFIG=1
AWS_EC2_METADATA_DISABLED=true
TF_VAR_project_name=accenture
TF_VAR_environment=dev
TF_VAR_db_username=postgres